<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>New Message</title>
</head>
<body>
  
    <div class="container">
        <canvas id="matrix"></canvas>
        <div class="content">
    <h1>New Message</h1>
    <form action="/new" method="post">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" required>
        <br>
        <label for="text">Message:</label>
        <textarea id="text" name="text" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to messages</a>
</div>
</div>
    <script src="matrix.js"></script>
</body>
</html>